<%- include('./partials/header.ejs') %>
    <div>
        <h3 id="err"><%= error.status%> Error</h3> 
        <p id="msg"><%= error.message%></p>
    </div>
    <%- include('./partials/footer.ejs') %>