<%- include('./partials/header.ejs') %>
    <section id="section">
        <h1>Welcome to Online Book Store !</h1>
        <h5>Get your favourite Books for reasonable prices</h5>
    </section>
<%- include('./partials/footer.ejs') %>